.subscribe-widget
	.section-header
		margin-top: 0

.subscribe-form
	display: flex
	flex-wrap: wrap
	justify-content: center
	input
		width: 80%
	.btn
		margin-top: 15px

.course-content
	display: flex
	justify-content: center
	.course-item
		align-self: center
		display: flex
		margin-right: 30px
		&:last-child
			margin-right: 0
	.course-icon
		width: 24px
		height: 24px
		border-radius: 50%
		margin-right: 5px
		align-self: center
		background-position: center
		background-repeat: no-repeat
		background-size: 200%
		border: 1px solid $cablenews-secondary
	.course-item-content
		line-height: 1
		.course-name
			font-size: .75rem
			text-transform: uppercase
			color: #cccccc
			font-weight: 700
