// *
//     padding: 0
//     margin: 0
//     box-sizing: border-box

body
    font: $font-weight $global-font-size $font-family
    line-height: $global-line-height
    color: #444

// button
//     background: transparent
//     font: $font-weight $font-size $font-family
//     color: $form-color
//     border: none
//     &:hover
//         cursor: pointer

// input
//     border: none
//     border-bottom: $form-border-size solid $form-border-color
//     background: transparent
//     padding: $form-padding

.topbar
    box-shadow: 0 2px 15px rgba(#000, .3)

.form-control
    border-radius: 35px