.footer
	background-color: #444444
	color: #ffffff
	padding: 50px 100px
	margin-top: 30px
	.copyright
		padding-left: 150px
		color: #bcbbbb
		font-size: .65rem
		p
			margin-bottom: 10px
		p:last-child
			margin-bottom: 0
	.menu-list
		// margin-right: 100px
		.menu-list-title
			font-size: .9375rem
			font-weight: bold
		.menu-item
			&-arrow
				img
					width: 16px
			&-link
				font-size: .85rem
				a
					color: #ffffff
