.navbar
	position: relative
	z-index: 100
	background: $header-background
	box-shadow: 0 2px 15px rgba(#000000, .3)
	padding: 10px 15px
	margin-bottom: 15px
	.dropdown-menu
		border-radius: 0
		border: 0
		box-shadow: 0 5px 15px rgba($cablenews-primary, .5)
	.nav-link,
	.dropdown-item
		text-transform: uppercase
		color: #000 !important
		font-weight: 900
		transition: ease-in-out .2s all
		&:hover
			color: $cablenews-primary !important
	.dropdown:hover > .dropdown-menu
		display: block
	.dropdown-toggle::after
		display: none
	.nav-link:focus,
	a:focus,
	.dropdown-item:focus
		box-shadow: none
