.section-header
	display: flex
	margin-top: 15px
	margin-bottom: 15px
	.header-title
		flex: 1 50%
		font-size: 1.5rem
		font-weight: 900
		color: $cablenews-primary
		&:after
			content: ''
			background-color: $cablenews-secondary
			display: flex
			width: 15%
			height: 2px
	.header-button
		flex: 1 50%
		display: flex
		justify-content: flex-end
		align-self: center
		.btn
			padding-left: 35px
			padding-right: 35px
			border-radius: 35px
			font-weight: 700
			font-size: .85rem
			color: #ffffff
			background-color: $cablenews-primary
			border: 0
			box-shadow: 0 3px 15px rgba($cablenews-primary, .5)
			transition: ease-in-out .2s all
.news-list
	display: flex
	flex-wrap: nowrap
	.news
		max-width: calc(100% / 7)
		width: 100%
		margin-right: 15px
		padding: 10px
		box-shadow: 0 0 5px rgba(#000000, .16)
		&:last-child
			margin-right: 0
		.news-image
			position: relative
			height: 250px
			margin: -10px -10px 0 -10px
			&:after
				content: ''
				position: absolute
				z-index: 3
				top: 0
				left: 0
				height: 100%
				width: 100%
				background: linear-gradient(to top, rgba(#000000, .8), rgba(#000000, .3), rgba(#000000, .1))
			.news-date
				position: absolute
				z-index: 5
				color: #ffffff
				font-size: .625rem
				font-weight: 900
				opacity: .75
				bottom: 10px
				right: 10px
		.news-read
			display: flex
			justify-content: flex-end
			margin-top: 5px
			a
				font-size: .75rem
				font-weight: 700
				color: $cablenews-primary
				&:hover
					text-decoration: underline
		.news-category
			font-size: .75rem
			color: #cccccc
			opacity: .75
			font-style: italic
			margin-top: 5px
		.news-title
			.news-title-link
				font-size: 1rem
				font-weight: 700
				color: #000000
				transition: ease-in-out .2s all
				&:hover
					color: $cablenews-primary
					text-decoration: none
		.news-description
			font-size: .85rem
			font-weight: 300
