link(rel="stylesheet", href="style/lib/spectre.min.css")
link(rel="stylesheet", href="style/main.min.css")
link(rel="stylesheet", href="style/lib/owl.carousel.min.css")
script(src="script/lib/jquery.min.js") 
script(src="script/lib/owl.carousel.min.js")
script(src="script/app.min.js")
