link(rel="stylesheet", href="style/lib/bootstrap.min.css")
link(rel="stylesheet", href="style/main.min.css")
link(rel="stylesheet", href="style/lib/owl.carousel.min.css")
script(src="js/lib/jquery.min.js") 
script(src="js/lib/bootstrap.min.js")
script(src="js/lib/owl.carousel.min.js")
script(src="js/app.min.js")
