section.video-page
	.container
		.video-page__iframe
			iframe(src='https://www.youtube.com/embed/wEzum1tOY0s' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
		.video-page__info
			span.date <b>Дата публикации</b> 23:39 22.12.2018
			<br/>
			span.author <b>Добавил</b> Kapitonenko
		.video-page__description <b>Описание: </b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, ipsa dignissimos facilis debitis perspiciatis numquam quo rem eius repudiandae porro atque, quibusdam iure itaque adipisci, doloremque et quos. Fugiat, veritatis.
