link(rel="stylesheet", href="style/lib/normalize.css")
link(rel="stylesheet", href="style/lib/owl.carousel.min.css")
link(rel="stylesheet", href="style/lib/slicknav.min.css")
link(rel="stylesheet", href="style/main.min.css")
script(src="js/lib/jquery.min.js")
script(src="js/lib/jquery.slicknav.min.js")
script(src="js/lib/owl.carousel.min.js")
script(src="js/app.min.js")
script(src="js/course.min.js")
