footer.footer
	.container
		.footer__copyright
			img(src="img/logo white.png", alt="", srcset="img/logo white.png").img-fluid
			p © 2018, ТОВ «Укркабель». Всі права захищені.
		.footer__menu
			.footer__menu-list
				.footer__menu-list__title Партнерам
				.footer__menu-list__item
					span.footer__menu-list__item-arrow
						img(src="img/icon/m_arrow_right.svg", alt="", srcset="img/icon/m_arrow_right.svg")
					span.footer__menu-list__item-link
						a(href="") Обратная связь
				.footer__menu-list__item
					span.footer__menu-list__item-arrow
						img(src="img/icon/m_arrow_right.svg", alt="", srcset="img/icon/m_arrow_right.svg")
					span.footer__menu-list__item-link
						a(href="") Размещение рекламы
				.footer__menu-list__item
					span.footer__menu-list__item-arrow
						img(src="img/icon/m_arrow_right.svg", alt="", srcset="img/icon/m_arrow_right.svg")
					span.footer__menu-list__item-link
						a(href="") Размещение компании
		.footer__adv
			a(href="#")
				.best-block-inda-city(style="background-image: url('../img/news/1.jpg')") Рекламный блок
