extends base/base.pug
block title
  |Название категории - CableNews.com новости, финансы, видео и много другого...
block header
  include section/nav.pug
block content
  include page/category/video.pug
block footer
  include section/footer.pug
