extends base/base.pug
block title
  |Видео - CableNews.com новости, финансы, видео и много другого...
block header
  include section/nav.pug
block content
  include page/category/content.pug
block footer
  include section/footer.pug
