extends base/base.pug
block title
	|Новости - CableNews.com новости, финансы, видео и много другого...
block header
	include section/nav.pug
block content
	include page/news/content.pug
block footer
	include section/footer.pug
