extends base/base.pug
block title
	|Поиск - CableNews.com новости, финансы, видео и много другого...
block header
	include section/nav.pug
block content
	include page/search/content.pug
block footer
	include section/footer.pug
