section.new-news
	.new-news__header
		a(href="#") Последние новости
	.new-news__list
		-for (var x = 1; x <= 9; x++)
			.new-news__list-item
				.new-news__list-item__date
					span.time 23:40
				.new-news__list-item__title
					a(href="#")= x
						| Lorem ipsum dolor sit amet consectetur, adipisicing...
	.new-news__adv
		a(href="")
			.best-block-inda-city Рекламный блок
