include aside/subscribe.pug
section.widget.tab
	.tab__button
		.tab__button-item.active(data-tab="1") Курс і Метали
		.tab__button-item(data-tab="2") Погода
	.tab__content
		.tab__content-item.active(data-tab="1")
			include aside/course.pug
			include aside/metal.pug
		.tab__content-item(data-tab="2")
			include aside/weather.pug
