include ../../mixins/_slider.pug

section.slider
	.slider__news.owl-carousel
		-for (var x = 1; x < 6; x++)
			+sliderItem(x, 'Новости мира', x + 'Название новости', 'Reque mandamus ne quo. Et salutandi voluptatum vel, suscipit laboramus mel an. Stet essent repudiandae est at, tollit dissentiet efficiantur eu has. Mea no dico sale, novum molestiae euripidis duo ei, nam laudem commodo dignissim ei.')
