include ../../mixins/_news.pug

.row
	main.col-lg-9.col-md-12
		section.slider
			.slider__news.owl-carousel
				-for (var x = 1; x < 6; x++)
					.slider__news-item(style="background-image: url(img/news/" + x + ".jpg)")
						.item__description
							.item__description-category Новости мира
							.item__description-title= x
								| Название новости
							.item__description-text Reque mandamus ne quo. Et salutandi voluptatum vel, suscipit laboramus mel an. Stet essent repudiandae est at, tollit dissentiet efficiantur eu has. Mea no dico sale, novum molestiae euripidis duo ei, nam laudem commodo dignissim ei.
							.item__description-read_more
								a.btn(href="#") Прочитать новость
		section.news-last.row
			.section-header.col-12
				.row
					.header-title.col-6 Новости
					.header-button.col-6.d-flex.justify-content-end.align-self-center
						a(href="").btn Все новости...
			.news-list.col-12
				-for (var x = 1; x < 11; x++)
					+news(x, '01.11.2018', 'Новости мира', 'Название новости ' + x, 'Reque mandamus ne quo. Et salutandi voluptatum vel, suscipit laboramus mel an.')
		section.rekt-cablenews
			a(href="#").rekt-ad Рекламный блок
		-for (var z = 0; z < 4; z++)
			section.news-widget.row
				.section-header.col-12
					.row
						.header-title.col-6= z
							| Категория
						.header-button.col-6.d-flex.justify-content-end.align-self-center
							a(href="").btn Все новости...
				.news-list.col-12
					-for (var x = 1; x < 6; x++)
						+news(x, '01.11.2018', 'Финансы', 'Название новости ' + x, 'Reque mandamus ne quo. Et salutandi voluptatum vel, suscipit laboramus mel an.')
	aside.col-lg-3.col-md-12
		section.widget.subscribe-widget.row
			.section-header.col-12.text-center
				.header-title Подписаться на рассылку
			.widget-content.col-12.text-center
				form.subscribe-form
					input.form-control(type="text", placeholder="Email...")
					button.btn Подписаться
		section.widget.row
			.section-header.col-12.text-right
				.header-title Курс валют
			.widget-content.col-12.course-content
				.course-item.dollar
					.course-icon(style="background-image:url('img/usa.svg')")
					.course-item-content
						.course-name Доллар
						.course-value 0
				.course-item.euro
					.course-icon(style="background-image:url('img/union.svg')")
					.course-item-content
						.course-name Евро
						.course-value 0
				.course-item.ruble
					.course-icon(style="background-image:url('img/russia.svg')")
					.course-item-content
						.course-name Рубль
						.course-value 0
		section.widget.row
			.section-header.col-12.text-right
				.header-title Прогноз погоды
			.widget-content.col-12 123
		section.widget.row
			.section-header.col-12.text-right
				.header-title Курс ценных металов
			.widget-content.col-12 123
		section.widget.row
			.widget-content.col-12.text-center Рекламный блок
		section.widget.row
			.section-header.col-12.justify-content-end
				.header-title Видео
			.video-list.col-12
				-for (var x = 1; x < 6; x++)
					.video-item(style="background-image: url('img/news/1.jpg')")
						span.video-title
							a(href="#")= x
								|Название видео
			.video-btn-all.col-12.d-flex.justify-content-center
				a(href="").btn.btn-video Все новости...
