mixin video(image, date, title)
    .video__list-item(style="background-image: url('img/news/" + image + ".jpg')")
		span.video-button
			img(src="img/icon/play.svg", alt="", srcset="img/icon/play.svg")
		span.video-date= date
		span.video-title
			a(href="#")= title
