section.widget.course
	.section__header.course__header Курс валют
	.widget__content.course__content
		.course__content-item.dollar
			.course-icon(style="background-image:url('img/usa.svg')")
			.course-item-content
				.course-name Доллар
				.course-value
		.course__content-item.euro
			.course-icon(style="background-image:url('img/union.svg')")
			.course-item-content
				.course-name Евро
				.course-value
		.course__content-item.ruble
			.course-icon(style="background-image:url('img/russia.svg')")
			.course-item-content
				.course-name Рубль
				.course-value
