section.widget.subscribe
	.section__header.subscribe__header Подписаться на рассылку
	.widget__content.subscribe__content
		form.subscribe__control(action="")
			input.subscribe__control-input(type="text", placeholder="Email...")
			button.btn.subscribe__control-btn Подписаться
