section.widget.weather
	a.weatherwidget-io(href='https://forecast7.com/ru/50d4530d52/kiev/' data-label_1='Киев' data-font='Roboto' data-icons='Climacons' data-mode='Current' data-basecolor='' data-theme='pure' data-textcolor="#1f145d") KYIV
	a.weatherwidget-io(href='https://forecast7.com/ru/49d8424d03/lviv/' data-label_1='Львов' data-font='Roboto' data-icons='Climacons' data-mode='Current' data-basecolor='' data-theme='pure' data-textcolor="#1f145d") LVIV
	a.weatherwidget-io(href='https://forecast7.com/ru/46d4830d72/odesa/' data-label_1='Одесса' data-font='Roboto' data-icons='Climacons' data-mode='Current' data-basecolor='' data-theme='pure' data-textcolor="#1f145d") ODESA
	a.weatherwidget-io(href='https://forecast7.com/ru/49d9936d23/kharkiv/' data-label_1='Харьков' data-font='Roboto' data-icons='Climacons' data-mode='Current' data-basecolor='' data-theme='pure' data-textcolor='#1f145d') KHARKOV
	a.weatherwidget-io(href='https://forecast7.com/ru/48d4635d05/dnipro/' data-label_1='Днепр' data-font='Roboto' data-icons='Climacons' data-mode='Current' data-basecolor='' data-theme='pure' data-textcolor='#1f145d') DNEPROPETROVSK
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
