// Base
// ---------------

$global-font-size: 1rem;
$global-width: 100%;
$global-line-height: 1.5;
$cablenews-primary: #0E2B6E;
$cablenews-secondary: #A44D04;

// Typography
// ---------------

// Grid
// ---------------

// Breakpoints
// ---------------

$breakpoints-small: 640px;
$breakpoints-medium: 768px;
$breakpoints-large: 1024px;
$breakpoints-xlarge: 1200px;

// Header
// ---------------
$header-background: $cablenews-primary;