.subscribe
	border: 2px solid $cablenews-primary
	border-radius: 4px
	padding: 15px
	&__header
		text-align: center
		margin-top: 0
	&__content
		display: flex
		text-align: center
	&__control
		&-input
			border: 1px solid #ccc
			padding: 7px 15px
			border-radius: 20px
			margin-bottom: 10px
		&-btn
			border: none
			background-color: #ffffff
			color: $cablenews-primary
			border-radius: 20px
			padding: 6px 15px
			transition: ease .3s all
			&:hover
				cursor: pointer
				background-color: $cablenews-secondary
