include ../mixins/_news.pug

section.slider
	.news-slider.owl-carousel
		div 1
		div 2
		div 3
		div 4
section.right-sidebar
	div course
section.news-last
	-for (var x = 0; x < 7; x++)
		+news('01.11.2018', 'Новости мира', 'Название новости ' + x, 'Описание')
section.widgets
section.news-widget
	-for (var x = 0; x < 7; x++)
		+news('01.11.2018', 'Финансы', 'Название новости ' + x, 'Описание')
section.video-widget
	.video-widget-title
		span Title
	.video-list
		.video-item
			|123
			//- img(src="", alt="", srcset="")	