include ../../section/header.pug
include ../../section/aside.pug
main.main
	.container
		include ../../section/index/news.pug
		include ../../section/index/category.pug
		.category-news__adv
			a(href="")
				.best-block-inda-city Рекламный блок
		include ../../section/index/video.pug
