include ../../mixins/_adv.pug

include ../../section/header.pug
main.main
	.container
		include ../../section/index/news.pug
		include ../../section/index/category.pug
		+adv()
		include ../../section/index/video.pug
