include ../../section/header.pug
//- include ../../section/aside.pug
main.main(style="opacity:0;")
	.container
		include ../../section/index/news.pug
		include ../../section/index/category.pug
		.category-news__adv
			a(href="")
				.best-block-inda-city(style="background-image: url('../img/news/1.jpg')") Рекламный блок
		include ../../section/index/video.pug
