.news-page__content
	| Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea explicabo repellendus fugiat enim doloribus magni voluptas iure. Repudiandae veritatis consequuntur ut qui ex odit natus cumque et! Doloribus, laudantium amet?Pariatur dolor dolore id odio perspiciatis expedita repellat odit quis. Suscipit aperiam veniam ipsa excepturi aliquam ea omnis nihil animi cumque, fugiat exercitationem alias dicta nam necessitatibus velit natus. Reprehenderit.Officiis aliquid voluptates sequi error amet saepe vel rem, iste placeat sit blanditiis totam molestias, quas sapiente! Eum libero, debitis officia corporis beatae iste perferendis reprehenderit aliquid accusantium autem eius?Laborum accusantium, laboriosam error ad voluptatibus modi? Enim, exercitationem cumque voluptatibus quae, qui rerum culpa consequuntur sunt quam sint excepturi labore explicabo rem facilis fugiat aliquid amet? Vel, eaque eos?Eos non qui perferendis, alias nobis voluptate temporibus deleniti nisi! Quos, autem veniam illum nisi vel minima, esse recusandae ea expedita ipsum distinctio, quia voluptatem nam ipsam eveniet? Molestiae, sit?Nobis, deserunt. A molestiae commodi deleniti reprehenderit. Quasi perspiciatis alias quae esse veritatis harum molestiae ut natus modi cupiditate enim sit cumque debitis, vel blanditiis laborum temporibus aperiam beatae repellat?Autem accusantium dolorem, quam asperiores animi minima suscipit vel deserunt vitae natus sed repudiandae voluptatem, assumenda modi? Dolorem nesciunt delectus assumenda dicta illum amet, quia voluptatem aspernatur? Consequatur, aliquam qui!Blanditiis dicta asperiores quam corporis doloremque neque non dolore molestias, impedit vero fugit repellendus magni quo perferendis sint sunt possimus voluptas eligendi unde dolores! Alias nemo eligendi pariatur praesentium? Nulla.Et tempora ratione consequuntur vel debitis saepe quae adipisci commodi aspernatur laborum doloremque, consectetur exercitationem reprehenderit veniam dolorum aut, pariatur distinctio hic! Ex, qui unde sed magni rerum quos necessitatibus.Dolorum minus iure quibusdam deleniti fugit nulla, neque laborum nesciunt blanditiis quaerat corrupti facere minima ea quae nemo hic. Ipsum deserunt delectus fugiat vitae quasi repellendus sapiente dignissimos harum omnis?
.news-page__info
	.news-page__info-category
		span.title Категория:
		span.cat Новости мира
	.news-page__info-date
		span.title Дата публикации:
		span.date 23:59 24.12.2018
	.news-page__info-author
		span.title Автор:
		span.author Kapitonenko Serhii
	.news-page__info-source
		span.title Источник:
		span.url
			a(href="#") Перейти
	.news-page__info-tags
		span.title Теги:
		span.tags
			a(href="") новость,
			a(href="") мир,
			a(href="") я,
			a(href="") ты,
			a(href="") он,
			a(href="") она
