.news-page__image(style="background-image: url('img/news/7.jpg')")
	.news-page__title Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde impedit in delectus ipsam, quae ex laudantium, alias adipisci omnis suscipit dolores deserunt consectetur esse totam distinctio sit iusto iure soluta!
