header.header
    .header__logotype
        img.logo(src="img/logo.png")
    .header__navigation
        include ./nav.pug
    .header__search
        button.open-search-form
            img.search-icon(src="/img/icon/search.svg", alt="", srcset="/img/icon/search.svg")
        form.search-form
            input#search-value(type="text", name="search-value")
            button(type="submit")
                img.form-search-icon(src="/img/icon/search.svg", alt="", srcset="/img/icon/search.svg")
        