header.header
    .logotype
        img.logo(src="")
    .navigation
        include ./nav.pug
    .search
        button
            img.search-icon(src="/img/icon/search.svg", alt="", srcset="/img/icon/search.svg")
        form.search-form
            input#search-value(type="text", name="search-value")
            button(type="submit")
                img.form-search(src="/img/icon/search.svg", alt="", srcset="/img/icon/search.svg")