header.navbar
  section.navbar-section
    a.navbar-brand.d-flex.mr-2(href='#') 
        img(src="img/logo.png")
  section.navbar-section
    a.btn.btn-link(href='/') Главная
      a.btn.btn-link(href='#') Новости
      .dropdown
        a.btn.btn-link.dropdown-toggle(href='#' tabindex='0') Промышленость
        ul.menu
          a.btn.btn-link(href='#') Промышленость
      a.btn.btn-link(href='#') Зеленая енергия
      a.btn.btn-link(href='#') Финансы
      a.btn.btn-link(href='#') Выставка
      a.btn.btn-link(href='#') Видео
  section.navbar-section
    form.input-group.input-inline.search-form
      input.form-input(type='text' placeholder='Найти...')
      button.btn.btn-primary.input-group-btn
        img(width="24px", src="img/icon/search.svg", alt="Найти на cablenews.com.ua", srcset="img/icon/search.svg")
