nav.navbar(role="nav")
    .navbar__link
        a(href="#") Link
    .navbar__link
        a(href="#") Link
    .navbar__link
        a(href="#") Link
    .navbar__link
        a(href="#") Link
    .navbar__link
        a(href="#") Link