section.slider.col-8
	.slider__news.owl-carousel
		-for (var x = 1; x < 6; x++)
			.slider__news-item(style="background-image: url(img/news/" + x + ".jpg)")
				.item__description
					.item__description-category Новости мира
					.item__description-title= x
						| Название новости
					.item__description-text Reque mandamus ne quo. Et salutandi voluptatum vel, suscipit laboramus mel an. Stet essent repudiandae est at, tollit dissentiet efficiantur eu has. Mea no dico sale, novum molestiae euripidis duo ei, nam laudem commodo dignissim ei.
					.item__description-read_more
						a.btn(href="#") Прочитать новость
